#welcome {
  background: #084884;
  color: #a5d4ff;
  padding: 12px 0px;
}
#welcome i {
  font-size: 18px;
  line-height: 39px;
  cursor: pointer;
  padding: 0 8px;
}
#welcome i:hover {
  color: white;
  transition: all .5s ease;
}
#welcome button {
  border-radius: 50px;
  background: #42a4ff;
  color: white;
  border: none;
  padding: 8px 36px;
  font-size: 12px;
  letter-spacing: .02em;
  line-height: 1.57143;
}
#welcome button:hover {
  background: #91baff;
  transition: all .5s ease;
}
#welcome p {
  font-size: 14px;
  line-height: 29px;
}

body {
  padding-bottom: 500px;
}

#contact {
  background: #1872c5;
  color: #a5d4ff;
  /*height: 140px;*/
  padding: 47px 0;
}
#contact img {
  cursor: pointer;
}
#contact .daire {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  line-height: 44px;
  background: #084884;
  text-align: center;
  float: left;
}
#contact .daire i {
  font-size: 28px;
  line-height: 39px;
  color: white;
  padding: 0 8px;
}
#contact .spanlar span {
  padding-left: 15px;
  float: left;
}
#contact .spanlar span:hover {
  color: white;
  cursor: pointer;
}
#contact .spanlar .spanlar:nth-child(2) {
  color: #a5d4ff;
}

#navbar {
  background: blue;
  border-top: 1px solid white;
  background: #1872c5;
  	/*position: fixed;
  */
}
#navbar ul {
  margin: 0;
  padding: 20px 0px;
  margin-bottom: 15px;
}
#navbar ul li {
  list-style-type: none;
  color: white;
  float: left;
  cursor: pointer;
  	/*    -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;*/
}
#navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  transition: .33s all ease-out;
  color: white;
  margin-right: 90px;
}
#navbar ul li a:hover {
  color: #a5d4ff;
  cursor: pointer;
}
#navbar ul li .first {
  color: #a5d4ff;
}

#map {
  height: 400px;
  width: 100%;
}

#slider {
  height: 420px;
}
#slider .firstImage, #slider .secondImage, #slider .thirdImage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#slider .firstImage img, #slider .secondImage img, #slider .thirdImage img {
  width: 100%;
}
#slider .firstImage .slideText, #slider .secondImage .slideText, #slider .thirdImage .slideText {
  width: 712px;
  height: 300px;
  position: absolute;
  top: 30px;
  left: 110px;
}
#slider .firstImage .slideText p, #slider .secondImage .slideText p, #slider .thirdImage .slideText p {
  position: absolute;
  font-weight: bold;
  z-index: 5;
  font-size: 55px;
  line-height: 1.2;
}
#slider .firstImage .slideText span, #slider .secondImage .slideText span, #slider .thirdImage .slideText span {
  position: absolute;
  font-style: italic;
  z-index: 5;
  font-size: 25px;
  top: 175px;
  color: #777;
}
#slider .firstImage .slideText button, #slider .secondImage .slideText button, #slider .thirdImage .slideText button {
  position: absolute;
  z-index: 5;
  top: 270px;
  background: #42a4ff;
  border-radius: 50px;
  padding: 15px 35px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}
#slider .firstImage .slideText button:hover, #slider .secondImage .slideText button:hover, #slider .thirdImage .slideText button:hover {
  background: #1872c5;
  transition: .7s ease;
}
#slider .firstImage .slideText .dots, #slider .secondImage .slideText .dots, #slider .thirdImage .slideText .dots {
  width: 100px;
  height: 30px;
  position: absolute;
  z-index: 5;
  top: 350px;
}
#slider .firstImage .slideText .dots .dotFirst, #slider .firstImage .slideText .dots .dotSecond, #slider .firstImage .slideText .dots .dotThird, #slider .secondImage .slideText .dots .dotFirst, #slider .secondImage .slideText .dots .dotSecond, #slider .secondImage .slideText .dots .dotThird, #slider .thirdImage .slideText .dots .dotFirst, #slider .thirdImage .slideText .dots .dotSecond, #slider .thirdImage .slideText .dots .dotThird {
  width: 12px;
  height: 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 100%;
  background: #777;
  cursor: pointer;
}
#slider .firstImage .slideText .dots .dotFirst:visited, #slider .firstImage .slideText .dots .dotSecond:visited, #slider .firstImage .slideText .dots .dotThird:visited, #slider .secondImage .slideText .dots .dotFirst:visited, #slider .secondImage .slideText .dots .dotSecond:visited, #slider .secondImage .slideText .dots .dotThird:visited, #slider .thirdImage .slideText .dots .dotFirst:visited, #slider .thirdImage .slideText .dots .dotSecond:visited, #slider .thirdImage .slideText .dots .dotThird:visited {
  background: #42a4ff;
}
